/*================================== common css start ============================*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
img{
    display: block;
}
a{
    text-decoration: none;
    display: inline-block;
}
/*================================== common css end ============================*/
/*================================== nav bar start here  ============================*/
.navbar{
    background: #1C1E53;
    padding: 32px 0 30px;
}
.navbar .navbar-nav{
    column-gap: 32px;
}
.navbar .navbar-nav .nav-item .nav-link{
    color: #BBBBCB;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.navbar .navbar-nav .nav-item .active{
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.button{
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding: 16px 48px;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    background: transparent;
}
/*================================== nav bar end here =============================*/
/*================================== banner part start here =============================*/
#banner{
    padding: 128px;
}
#banner .main h4{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
#banner .main h2{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 74px;
    width: 595px;
}
#banner .main p{
    color: var(--Dark-blue, #282938);
    text-align: justify;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 484px;
}
#banner .image img{
    width: 100%;
    text-align: center;
}
/*================================== banner part end here =============================*/
/*================================== focus part start here =============================*/
#focus{
    padding-bottom: 128px;
}
#focus .container{
    background: #F4F5F5;
}
#focus .main{
    display: flex;
    padding: 92px 47px 64px 77px;
    column-gap: 61px;
}
#focus .main .text h3{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 4px;
}
#focus .main .text h2{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 16px;
}
#focus .main .text p{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 515px;
}
#focus .image img{
    width: 100%;
}
/*================================== focus part end here =============================*/
/*================================== process part start here =============================*/
#process {
    padding-bottom: 84px;
}
#process .title h3{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
}
#process .main{
    display: flex;
    column-gap: 56px;
}
#process .main .text{
    position: relative;
}
#process .main .text h5{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 8px;
}
#process .main .text h5::after{
    content: "";
    position: absolute;
    left: 0;
    top: -20px;
    transform: translateY(-100%);
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-color: #2405F2;
    border-radius: 50%;
}
#process .main .text p{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
#process .icon{
    display: flex;
    justify-content: space-between;
    margin:30px 328px 70px 47px;
}
#process .icon i{
    font-size: 32px;
    color: #2405F2;
} 
/*================================== process part end here =============================*/
/*================================== working part start here =============================*/
#working-part{
    padding-bottom: 276px;
}
#working-part .title h3{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
    width: 630px;
    margin: 0 auto;
    padding-bottom: 48px;
}
#working-part .text{
    padding: 108px 42px 48px 48px;
    background: var(--Grey, #F4F6FC);
}
#working-part .text h5{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; 
    margin-bottom: 12px;
}
#working-part .text p{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 324.079px;
}
#working-part .text i{
    font-size: 32px;
    color: #2405F2;
    margin-bottom: 26px;
}
#working-part #rocket{
    padding: 50px 42px 48px 48px;
}
/*================================== working part end here =============================*/
/*================================== team part start  here =============================*/
#team-part{
    background: var(--Grey, #F4F6FC);
    padding: 128px 0;
}
#team-part .title h3{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
    margin-bottom: 48px;
}
#team-part .main{
    padding: 48px 64px 32px;
    background: #FFF;
}
#team-part .main h4{
    color: var(--b, #1D2130);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-top: 30px;
}
#team-part .main p{
    color: var(--b, #1D2130);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.7;
    margin-top: 2px;
    text-align: center;
}
#team-part .img {
    z-index: 1;
    width: 100%;
    position: relative;
  }
#team-part .overlay {
    position: absolute;
    left: 55px;
    top: 127px;
    background-color:transparent;
    width: 100%;
    height: 100%;
 }
#team-part .overlay a .facebook{
      width: 13px;
      height: 13px;
      background-color: #FFF;
      border-radius: 50%;
      text-align: center;
      color: #1D2130;
}
#team-part .overlay a .twitter{
    font-size: 13px;
    color: #FFF;
}
#team-part .overlay a .linkedin{
    font-size: 13px;
    background-color: #FFF;
    text-align: center;
    color: #1D2130;
}
/*================================== team part end here ================================*/
/*================================== FOOTER part start here ================================*/
footer{
    background: #1C1E53;
}
footer .text {
    display: flex;
    column-gap: 142px;
    padding-top: 100px ;
}
footer .main .text .logo p{
    width: 399px;
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    opacity: 0.8;
    margin-top: 22px;
    margin-bottom: 86px;
}
footer .main .text .logo .contact{
    display: flex;
    background-color: #FCD980;
    padding: 18px 100px 17px 37px;
    column-gap: 29px;
    width: 517px;
}
footer .main .text .logo .contact .email h6{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
footer .main .text .logo .contact .email a{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.8;
}
footer .main .text .logo .contact .call h6{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
footer .main .text .logo .contact .call a{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.8;
}
footer .main .text .talk h4{
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; 
    margin-bottom: 24px;
}
footer .main .text .talk p{
    color: var(--Grey, #F4F6FC);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 399px;
    margin-bottom: 28px;
}
footer .main .text .talk .icon i{
     font-size: 16px;
     color: #FFF;
     margin-right: 17px;
}
footer .copyright{
    background: #FFF;
    padding: 32px 0;
}
footer .copyright .last-part{
    display: flex;
    justify-content: space-between;
}
footer .copyright .last-part .copy a{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
footer .copyright .last-part ul{
    display: flex;
    column-gap: 32px;
}
footer .copyright .last-part ul li a{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
/*================================== footer part end here ================================*/